TELEGRAM_BOT_TOKEN=123456:replace_me
TELEGRAM_CHAT_ID=-1001234567890
TELEGRAM_MESSAGE_THREAD_ID=2716
TELEGRAM_PROXY=http://127.0.0.1:7890
BWE_RSS_URL=https://rss-public.bwe-ws.com/
TELEGRAM_EN_CHAT_ID=-1009876543210
TELEGRAM_EN_MESSAGE_THREAD_ID=1234
TRANSLATE_URL=http://127.0.0.1:5000/translate
